apiVersion: v1
kind: Secret
metadata:
  name: stackforge-secrets
  namespace: stackforge
type: Opaque
stringData:
  GEMINI_API_KEY: "REPLACE_ME"
  NEXT_PUBLIC_APP_URL: "https://stackforge.144-24-100-85.nip.io"
  NEXT_PUBLIC_DIAGNOSTIC_URL: "https://enlightlabs.com/contact"
  ALLOWED_ORIGINS: "https://stackforge.144-24-100-85.nip.io,http://stackforge.144-24-100-85.nip.io"
  NODE_ENV: "production"
  ALLOW_NO_ORIGIN: "true"
